{
    "importOrder": [
        "(^next/(.*)$)|(^next$)|(^react/(.*)$)|(^react$)",
        "^(?!(@/|\\.))(.*)$",
        "^@/validators/(.*)$",
        "^@/lib/(.*)$",
        "^@/hooks/(.*)$",
        "^@/components/ui(.*)$",
        "^@/components/(.*)$",
        "^./(.*).css$",
        "^./(.*)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
